--purple-light: #D980FA;


--purple: #56199c;


--purple-dark: #3f1a55;


--orange-light: #F79F1F;


--orange: #EE5A24;


--orange-dark: #7e1900;


--green-light: #53c227;


--green: #009432;


--green-dark: #1b5d3c;


--red-light: #df4d40;


--red: #EA2027;


--red-dark: #681c1c;
