:root
{
    --purple-light: #D980FA;
    --purple : #56199c;
    --purple-dark: #3f1a55;
    --orange-light: #F79F1F;
    --orange: #EE5A24;
    --orange-dark: #7e1900;
    --green-light: #53c227;
    --green: #009432;
    --green-dark: #1b5d3c;
    --red-light: #df4d40;
    --red: #EA2027;
    --red-dark: #681c1c;
    --blue: #5758BB;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}

.container
{
    display : table;
    width: 100%;
    height: 75%;
    position: relative;
}

footer
{
    display : table-row;
    background-color: var(--purple);
    text-align: center;
    color: white;
    width: 100%;
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    bottom: 0;
}

.navbar
{
    background-color: var(--purple);
}


.formulaire-container, .annonce-container
{
    border-radius: 1rem ;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    padding: 3rem;    
}

label
{

    text-align: start;
    width: 15rem;
    padding: 1rem;
    padding-left: 2rem;
    background-color: rgb(194, 194, 194);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.div-input div
{
    margin-top: 1rem;
}

.formulaire input.champs, .formulaire select.champs
{
    margin-top: -.4rem;
    margin-left: -.5rem;
    background-color: var(--blue);
    color: lightgray;
    padding: 1rem;
    padding-left: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem; 
    border-style: none; 
    transition-duration: .5s;
    outline-style: none;
    width: 50%;
}

.formulaire select.champs:hover
{
    background-color: var(--purple-dark);
}

.formulaire select.champs::selection
{
    font-style: italic;
}

.formulaire select.champs:target
{
    background-color: var(--purple-light);
}

.formulaire .input-icon-end
{
    margin-left: -2rem;
    margin-right: 1rem;
    color: lightgray;
    /*background-color: red; */

}

.text-description
{
    background-color: var(--blue);
    color: lightgray;
}

.text-description:focus
{
    border-color: #009432;
    outline-color: var(--purple-light);
}

.label-cp
{
    width: 15rem;
}

.champs-cp
{
    width: 15rem;
}

::placeholder{
    color:red;
}
::-webkit-input-placeholder 
{
    color:red;
}

.formulaire input.champs:focus
{
    background-color: var(--purple-dark);
    outline-style: none;
}


.annonce 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--green-dark);
    background-color: whitesmoke;
    margin: 1.5em;
    padding: 2em;
    text-align: left;
    text-decoration: none;
    box-shadow: .2em .2em .15em rgba(44, 44, 44, 0.5);
    transition-duration: .4s;
}

.annonce:hover
{
    background-color: #ffbe76;
    text-decoration: none;
    transform: translate(-.2em,-.2em) scale(1.15);
    box-shadow: .4em .4em .9em rgba(44, 44, 44, 0.35); 
}

.liste_annonce
{
    margin: 1em;
}

.ligne-footer
{ 
    display: block; 
    height: 0.1rem;
    border: 0; 
    border-top: 0.1rem solid black;
    margin: 1em 0; 
    padding: 0; 
}

.texte-orange
{
    color : var(--orange);
    font-size: 2.5rem;
}

.critere-energie
{
    color:white;
    padding: .1rem;
    margin: -.1rem;
}

.energie-courante
{
    padding: .5rem 0.2rem ;
}

.critere-A
{
    background-color: #009432;
}

.critere-B
{
    background-color: #00bd3f; 
}

.critere-C
{
    background-color: #00e44c; 
}

.critere-D
{
    background-color: #f6f208; 
}

.critere-E
{
    background-color: #f5d02a;  
}

.critere-F
{
    background-color: #f5962a;  
}

.critere-G
{
    background-color: #eb0a0a;  
}