:root
{
    --purple-light: #D980FA;
    --purple : #56199c;
    --purple-dark: #3f1a55;
    --orange-light: #F79F1F;
    --orange: #EE5A24;
    --orange-dark: #7e1900;
    --green-light: #53c227;
    --green: #009432;
    --green-dark: #1b5d3c;
    --red-light: #df4d40;
    --red: #EA2027;
    --red-dark: #681c1c;
    --blue: #5758BB;
}

html{
 height:100%;
}

body{
height:100%;
position: relative;
}

.wrap{
    min-height:100%;
    position: relative;
    background-color: var(--purple);
}



header{
    position: relative;
}

.container{
    position: relative;
    padding-bottom: 5em;
    padding-top: 1em;
}


footer{
    position: absolute;
    bottom: 0;
    display : table-row;
    width: 100%;
    background-color: var(--purple);
    text-align: center;
    color: white;
    padding: 2rem;
}


.navbar
{
    background-color: var(--purple);
}


.formulaire-container, .annonce-container, .notif-container
{
    border-radius: 1rem ;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    padding: 3rem;  
}

.label-form {
    width: 40%;
}

.bouton-admin a{
    width: 25%;
}
.bouton-admin button:hover{
    color: black;
}

.annonce div a:hover {
    text-decoration: none;
}

label
{
    text-align: start;
    width: 15rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; 
    background-color: gray;
    color : white;
}

.div-input div
{
    margin-top: 1rem;
}

.formulaire input.champs, .formulaire select.champs, .formulaire span.champs
{
    margin-top: -.4rem;
    margin-left: -.5rem;
    background-color: var(--blue);
    color: lightgray;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem; 
    border-style: none; 
    transition-duration: .5s;
    outline-style: none;
    width: 15em;
}

p.slider-title {
    width: fit-content;
}

.formulaire select.champs:hover
{
    background-color: var(--purple-dark);
}

.formulaire select.champs::selection
{
    font-style: italic;
}

.formulaire select.champs:target
{
    background-color: var(--purple-light);
}

.formulaire .input-icon-end
{
    margin-left: -2rem;
    margin-right: 1rem;
    color: lightgray;
    /*background-color: red; */

}

.text-description
{
    background-color: var(--blue);
    color: lightgray;
}

.text-description:focus
{
    border-color: #009432;
    outline-color: var(--purple-light);
}

.label-cp
{
    width: 15rem;
}

.champs-cp
{
    width: 1em;
}

::placeholder{
    color:red;
}
::-webkit-input-placeholder 
{
    color:red;
}

.formulaire input.champs:focus
{
    background-color: var(--purple-dark);
    outline-style: none;
}


.formulaire input.champs:focus
{
    outline-style: none;
}

.lien, .lien:hover{
    text-decoration: none;
}

.annonce div > div.img-container 
{
    max-width: 19rem;
    max-height: 12rem;
    width: 100%;
    align-self: center;
    position: relative;
    overflow: hidden;
}

.annonce 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--green-dark);
    background-color: whitesmoke;
    margin: 1.5em;
    padding: 2em;
    text-align: left;
    text-decoration: none;
    box-shadow: .2em .2em .15em rgba(44, 44, 44, 0.5);
    transition-duration: .5s;
    height: 18rem;

}

.annonce:hover
{
    text-decoration: none;
    transform: translate(-.2em,-.2em) scale(1.1);
    box-shadow: .4em .4em .9em rgba(44, 44, 44, 0.35); 
}

.annonce-admin 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--green-dark);
    background-color: whitesmoke;
    margin: 1.5em;
    padding: 2em;
    text-align: left;
    text-decoration: none;
    box-shadow: .2em .2em .15em rgba(44, 44, 44, 0.5);
    transition-duration: .5s;
    height: fit-content;

}

.annonce-admin:hover
{
    text-decoration: none;
    transform: translate(-.2em,-.2em) scale(1.1);
    box-shadow: .4em .4em .9em rgba(44, 44, 44, 0.35); 
}

.txtblock
{
    color:white;
    padding : 2rem 0;
}

hr.white
{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 25%, white 50%, rgba(255, 255, 255, 0) 100%);
    height: .3rem; 
    margin-top: -1rem;
}

.title
{
    transition-duration: none;
}

.annonce:hover .title
{
    color: var(--orange-light);
    font-weight: bold;
}

.liste_annonce
{
    margin: 1em;
}

.dropdown {
    position: relative;
    display: inline;
}

.bouton{
    position: relative;
    display: block;
    width: auto;
    border-radius: 2rem 2rem 2rem 2rem;
}
.select-recherche {
    width: fit-content;
}
.bouton-clip {
    border-radius: 0;
    /*clip-path: ellipse(36% 27% at 50% 50%);*/
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0 0);

}

.a-none {
    text-decoration: none;
}

.a-none:hover {
    text-decoration: none;
}



.btn-bleu{
    background-color: #2e86de; 
}

.btn-vert{
    background-color: var(--green-light); 
}

.lien, .lien:hover {
    color: white;
}

.bouton:hover{
    font-weight: bold;
}

.btn-bleu:hover{
    background-color: #2467aa;
    font-weight: bold;
}

.btn-vert:hover{
    background-color: var(--green);
    font-weight: bold;
}

.dropdown-button{
    background-color: orange;
    position: relative;
    color: white;
    display: block;
    min-width: 8em;
    border-radius: 2rem 2rem 2rem 2rem;  
}

.dropdown-button:hover{
    background-color: darkorange;
    font-weight: bold;
}

.dropped-button    {
    font-weight: bold;
    background-color: var(--red);
    border-radius: 2rem 2rem 0rem 0rem; 
}

.dropdown-button:focus, .dropped-button:focus, .bouton:focus {
    outline-style: none;
}

.no-outline
{
    outline-style: none;  
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 30%;
    background-color: lightgray;
    min-width: 8em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0rem 0rem 2rem 2rem;    
}

.dropdown-content a:hover {
    display: block;
    background-color: whitesmoke;
    border-radius: 2rem; 
    width: 95%;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
}

.dropdown-content a.red:hover  {
    color: white;
    background-color: red;
}



.show {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.ligne-footer
{ 
    display: block; 
    height: 0.1rem;
    border: 0; 
    border-top: 0.1rem solid black;
    margin: 1em 0; 
    padding: 0; 
}

.texte-orange
{
    color : var(--orange);
    font-size: 2.5rem;
}

.critere-energie
{
    color:white;
    padding: .3rem;
    margin: -.2rem;
}

.energie-courante
{
    padding: .8rem 0.8rem ;
    border-radius: .3rem;
    font-weight: bold;
}

.critere-A
{
    background-color: #009641;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.critere-B
{
    background-color: #52ae32;
}

.critere-C
{
    background-color:#c8d300;
}

.critere-D
{
    background-color: #ffdf00;
}

.critere-E
{
    background-color: #fbba00; 
}

.critere-F
{
    background-color: #ec6608; 
}

.critere-G
{
    background-color: #e40f1b; 
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

/*
body, html{
    width: 100%;
    height: 100%;	
    margin: 0;
    font-family: 'Just Another Hand', cursive;
    overflow-X: hidden;
}
*/

#i1, #i2, #i3, #i4, #i5{ display: none;}

.slider{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 38%;
    user-select: none;
}

.slider .slide_img{
    position: absolute;
    width: 100%;;
    height: 100%;
}
.slider .slide_img img{
    width: inherit;
    height: inherit;
}

.prev, .next{
    width: 12%;
    position: absolute;
    color:orange;
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
    height: 30%;
    padding-top: auto;
    padding-bottom: auto;
    bottom: 0px;
}

.next{
    right:0;
}
.prev{
    left:0;
}

label span{
    position: absolute;
    font-size: 100pt;
    top: 50%;
    transform: translateY(-60%);
}

.next span{
    left: 1px;
}

.prev span{
    right: 1px;
}

.prev:hover, .next:hover{
    color: orangered; 
}

.slider #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: 400%;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: var(--orange);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: var(--orange-light);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		

@media screen and (max-width: 685px){
	.slider{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and (min-width: 970px){
	.me{ display: none;}
}


.msger-input {
    background: #E4E8FB;
    width: max-content;
    min-width: 20em;
}
.msger-send-btn {
    margin-left: 10px;
    background: #FFA500;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
    height: 100%;
}

.mail-send-btn {
    margin-left: 10px;
    background: #FFA500;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover, .mail-send-btn:hover {
    background:  #FFA500;
}

.msg_name_user {
    color: orange;
    background-color: whitesmoke;
    padding: 5px;
    padding-right: 2.5%;
    position: relative;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
}

.mesgs {
    display: flex;
    flex-flow: wrap column;
    background-color: whitesmoke;
    height: 60vh;
    overflow-y: auto;    
    border-radius: 0 0 0 10px;
}

.outgoing_msg, .received_msg{
    display: flex;
    flex-flow: column;
    margin: 3px;
}

.outgoing_msg p, .received_msg p {
    width: fit-content;
    padding: 5px;
    margin: 4px;
    border-radius: 4px;
    padding-bottom: 2%;
}

.outgoing_msg p {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, calc(100% - 5px) 75%, calc(100% - 5px) 100%, calc(100% - 15px) 75%, 0% 75%);
}

.received_msg p {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 15px 75%, 5px 100%, 5px 75%, 0% 75%);
}


.received_msg {
    align-items: flex-start;
}

.outgoing_msg {
    align-items: flex-end;
}

.received_msg  p{
    background-color: lightgrey;
}

.outgoing_msg p {
    background-color: orange; 
}

.time_date {
    color: #414141;
	display: block;
	font-size: 10px;
    margin-inline: 5px;
}

.send {
    display: flex;
}

.liste_msgs {
    display: flex;
    flex-direction: column;
}

.liste_msgs a, .liste_msgs a:hover{
    text-decoration: none;
}

.msg {
    background-color: whitesmoke;
    margin: 0.1em;
    padding: 0.25em;
    border-radius: 0.3em;
    text-align: center;
}

.msg-header {
    font-size: large;
    font-weight: bold;
}

.msg-category {
    font-style: italic;
    color: grey;
}

#notif
{
    margin : 2rem 0;
    cursor: pointer;
}

.notif-container
{
    width: auto;
    border : 0;
    padding : .5rem 2rem;
    transition: .3s;
    transition-timing-function: cubic-bezier(0, 0, 0.21, 1)
}

.notif-container:hover
{
    transform: translate(-.1em,-.1em);
    box-shadow: .4em .4em .9em rgba(44, 44, 44, 0.35);
}

.btn--close
{
    color : rgba(255, 255, 255, 0.6);
    background: none;
    margin-right: -2rem;
    margin-top : -.2rem;
    transition-duration: .3s;
}

.btn--close:hover
{
    color:white;
}
.notif-container p
{
    font-size: 1.5rem;
    font-style: italic;
    color:whitesmoke;
}

.notif-container.success 
{
    background-color: var(--green-light);
}

.notif-container.error 
{
    background-color: var(--red-light);
}

.notif-container.warning 
{
    border-color: var(--red);
}

.notif-container.error h5
{
    color: var(--red-light);
}

.notif-container.success h5
{
    color: var(--green-light);
}

.notif-container.warning h5
{
    color: var(--orange);
}

.annonce-pad
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--green-dark);
    background-color: whitesmoke;
    margin: 1.5em;
    padding: 2em;
    text-align: left;
    text-decoration: none;
    box-shadow: .2em .2em .15em rgba(44, 44, 44, 0.5);
    transition-duration: .5s;
    height: 18rem;

}

[slider] {
    position: relative;
    height: 10px;
    border-radius: 10px;
    text-align: left;
    margin: 45px 0 10px 0;
  }
  
  [slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 10px;
  }
  
  [slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 10px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
  }
  
  [slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 10px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
  }
  
  [slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 10px;
    border-radius: 14px;
    background-color: #2e86de;
    
  }
  
  [slider] > div > [thumb] {
    position: absolute;
    top: -6px;
    z-index: 2;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
  }
  
  [slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  
  div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
  }
  
  div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
  }
  
  div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
  }
  
  div[slider] > input[type=range]:focus {
    outline: none;
  }
  
  div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
  }
  
  div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
  }
  
  div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
  }
  
  div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
  }
  
  div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
  }
  
  div[slider] > input[type=range]::-ms-tooltip {
    display: none;
  }
  
  [slider] > div > [sign] {

    position: absolute;
    margin-left: -25px;
    top: -42px;
    z-index:3;
    background-color: #2e86de;
    color: #fff;
    width: 50px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  

  
  [slider] > div > [sign] > span {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  
  [slider]:hover > div > [sign] {
    opacity: 1;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 ;
    background: #dae1e9;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;

    width: 10em;
    height: 3em;
    line-height: 3;
    background: #c4cacf;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #eaeaeb;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color:darkorange;
  }
  

