.purple-light
{
    color:#D980FA;
};

.purple
{
    color:#56199c;
};

.purple-dark
{
    color:#3f1a55;
};

.orange-light
{
    color:#F79F1F;
}

.orange
{
    color:#EE5A24;
}

.orange-dark
{
    color:#7e1900;
}

.green-light
{
    color:#53c227;
}

.green
{
    color:#009432;
}

.green-dark
{
    color:#1b5d3c;
}

.red-light
{
    color:#df4d40;
}

.red
{
    color:#EA2027;
}

.red-dark
{
    color:#681c1c;
}